* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
  }
  
  header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin: 0 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: transform 0.3s ease;
  }
  
  nav ul li a:hover {
    transform: scale(1.1); /* Se agranda al pasar el mouse */
  }
  
  #hero {
    background: url('https://i.postimg.cc/VkVDY6Sd/parras.jpg') no-repeat center center/cover;
    height: 100vh;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #hero h1 {
    font-size: 3rem;
  }
  
  #hero p {
    font-size: 1.5rem;
    margin-top: 10px;
  }
  
  #about, #wines {
    padding: 20px;
  }
  
  #wines {
    background: url('https://path-to-your-wine-background-image.jpg') no-repeat center center/cover;
    background-size: cover;
    color: white;
  }
  
  #wines ul {
    list-style: none;
  }
  
  #wines li {
    margin: 10px 0;
    font-size: 1.2rem;
  }
  
  footer {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
/* Estilos previos conservados */

#wines li img {
    margin-top: 10px;
    width: 100%;
    max-width: 500px; /* Tamaño máximo de la imagen */
    display: block;
  }
  
  #catas {
    background: url('https://i.postimg.cc/2yG7g8Rj/catasa-jpg.avif') no-repeat center center/cover;
    height: auto;
    padding: 50px;
    color: white;
    text-align: center;
  }
  
  #catas h1 {
    font-size: 2.5rem;
  }
  
  #catas p {
    margin-top: 20px;
    font-size: 1.2rem;
  }
  
  #catas img {
    margin-top: 20px;
    max-width: 600px;
    width: 100%;
    height: auto;
  }
  